body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:913px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u79_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:84px;
  background:inherit;
  background-color:rgba(0, 150, 136, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 150, 136, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u79 {
  position:absolute;
  left:11px;
  top:16px;
  width:200px;
  height:84px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u80 {
  position:absolute;
  left:2px;
  top:26px;
  width:196px;
  word-wrap:break-word;
}
#u81_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:84px;
  background:inherit;
  background-color:rgba(95, 184, 120, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(95, 184, 120, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u81 {
  position:absolute;
  left:243px;
  top:16px;
  width:200px;
  height:84px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u82 {
  position:absolute;
  left:2px;
  top:26px;
  width:196px;
  word-wrap:break-word;
}
#u83_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:84px;
  background:inherit;
  background-color:rgba(57, 61, 73, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(57, 61, 73, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u83 {
  position:absolute;
  left:477px;
  top:16px;
  width:200px;
  height:84px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u84 {
  position:absolute;
  left:2px;
  top:26px;
  width:196px;
  word-wrap:break-word;
}
#u85_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:84px;
  background:inherit;
  background-color:rgba(30, 159, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(30, 159, 255, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u85 {
  position:absolute;
  left:710px;
  top:16px;
  width:200px;
  height:84px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u86 {
  position:absolute;
  left:2px;
  top:26px;
  width:196px;
  word-wrap:break-word;
}
#u87_div {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:74px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(240, 238, 240, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u87 {
  position:absolute;
  left:11px;
  top:120px;
  width:900px;
  height:74px;
}
#u88 {
  position:absolute;
  left:2px;
  top:29px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:10px;
  height:79px;
}
#u89 {
  position:absolute;
  left:11px;
  top:120px;
  width:5px;
  height:74px;
}
#u90 {
  position:absolute;
  left:2px;
  top:29px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91_div {
  position:absolute;
  left:0px;
  top:0px;
  width:874px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u91 {
  position:absolute;
  left:26px;
  top:137px;
  width:874px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:874px;
  word-wrap:break-word;
}
#u93_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:84px;
  background:inherit;
  background-color:rgba(247, 184, 36, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(247, 184, 36, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u93 {
  position:absolute;
  left:13px;
  top:252px;
  width:200px;
  height:84px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u94 {
  position:absolute;
  left:2px;
  top:26px;
  width:196px;
  word-wrap:break-word;
}
#u95_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 87, 34, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 87, 34, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u95 {
  position:absolute;
  left:245px;
  top:252px;
  width:200px;
  height:84px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u96 {
  position:absolute;
  left:2px;
  top:26px;
  width:196px;
  word-wrap:break-word;
}
#u97_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:84px;
  background:inherit;
  background-color:rgba(1, 170, 237, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(1, 170, 237, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u97 {
  position:absolute;
  left:479px;
  top:252px;
  width:200px;
  height:84px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u98 {
  position:absolute;
  left:2px;
  top:26px;
  width:196px;
  word-wrap:break-word;
}
#u99_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:84px;
  background:inherit;
  background-color:rgba(47, 64, 86, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(47, 64, 86, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u99 {
  position:absolute;
  left:712px;
  top:252px;
  width:200px;
  height:84px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u100 {
  position:absolute;
  left:2px;
  top:26px;
  width:196px;
  word-wrap:break-word;
}
#u101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:74px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(240, 238, 240, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u101 {
  position:absolute;
  left:13px;
  top:356px;
  width:900px;
  height:74px;
}
#u102 {
  position:absolute;
  left:2px;
  top:29px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:10px;
  height:79px;
}
#u103 {
  position:absolute;
  left:13px;
  top:356px;
  width:5px;
  height:74px;
}
#u104 {
  position:absolute;
  left:2px;
  top:29px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:874px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u105 {
  position:absolute;
  left:28px;
  top:373px;
  width:874px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:874px;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:62px;
}
#u110 {
  position:absolute;
  left:11px;
  top:478px;
  width:128px;
  height:62px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u111 {
  position:absolute;
  left:2px;
  top:23px;
  width:124px;
  word-wrap:break-word;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:62px;
}
#u112 {
  position:absolute;
  left:139px;
  top:478px;
  width:128px;
  height:62px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u113 {
  position:absolute;
  left:2px;
  top:23px;
  width:124px;
  word-wrap:break-word;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:62px;
}
#u114 {
  position:absolute;
  left:267px;
  top:478px;
  width:128px;
  height:62px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u115 {
  position:absolute;
  left:2px;
  top:23px;
  width:124px;
  word-wrap:break-word;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:62px;
}
#u116 {
  position:absolute;
  left:395px;
  top:478px;
  width:128px;
  height:62px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u117 {
  position:absolute;
  left:2px;
  top:23px;
  width:124px;
  word-wrap:break-word;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:62px;
}
#u118 {
  position:absolute;
  left:523px;
  top:478px;
  width:128px;
  height:62px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u119 {
  position:absolute;
  left:2px;
  top:23px;
  width:124px;
  word-wrap:break-word;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:62px;
}
#u120 {
  position:absolute;
  left:651px;
  top:478px;
  width:128px;
  height:62px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u121 {
  position:absolute;
  left:2px;
  top:23px;
  width:124px;
  word-wrap:break-word;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:62px;
}
#u122 {
  position:absolute;
  left:779px;
  top:478px;
  width:128px;
  height:62px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u123 {
  position:absolute;
  left:2px;
  top:23px;
  width:124px;
  word-wrap:break-word;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:74px;
}
#u124 {
  position:absolute;
  left:11px;
  top:558px;
  width:900px;
  height:74px;
}
#u125 {
  position:absolute;
  left:2px;
  top:29px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u126_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:10px;
  height:79px;
}
#u126 {
  position:absolute;
  left:11px;
  top:558px;
  width:5px;
  height:74px;
}
#u127 {
  position:absolute;
  left:2px;
  top:29px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:874px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u128 {
  position:absolute;
  left:26px;
  top:575px;
  width:874px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:874px;
  word-wrap:break-word;
}
#u130_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:10px;
  height:79px;
}
#u130 {
  position:absolute;
  left:11px;
  top:558px;
  width:5px;
  height:74px;
}
#u131 {
  position:absolute;
  left:2px;
  top:29px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:913px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u79.a {
}
#u79_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:84px;
  background:inherit;
  background-color:rgba(0, 150, 136, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 150, 136, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u80.a {
}
#u81.a {
}
#u81_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:84px;
  background:inherit;
  background-color:rgba(95, 184, 120, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(95, 184, 120, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u82.a {
}
#u83.a {
}
#u83_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:84px;
  background:inherit;
  background-color:rgba(57, 61, 73, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(57, 61, 73, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u84.a {
}
#u85.a {
}
#u85_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:84px;
  background:inherit;
  background-color:rgba(30, 159, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(30, 159, 255, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u86.a {
}
#u87.a {
}
#u87_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:74px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(240, 238, 240, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u88.a {
}
#u89.a {
}
#u89_img.a {
}
#u90.a {
}
#u91.a {
}
#u91_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:874px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u92.a {
}
#u93.a {
}
#u93_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:84px;
  background:inherit;
  background-color:rgba(247, 184, 36, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(247, 184, 36, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u94.a {
}
#u95.a {
}
#u95_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 87, 34, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 87, 34, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u96.a {
}
#u97.a {
}
#u97_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:84px;
  background:inherit;
  background-color:rgba(1, 170, 237, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(1, 170, 237, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u98.a {
}
#u99.a {
}
#u99_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:84px;
  background:inherit;
  background-color:rgba(47, 64, 86, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(47, 64, 86, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u100.a {
}
#u101.a {
}
#u101_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:74px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(240, 238, 240, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u102.a {
}
#u103.a {
}
#u103_img.a {
}
#u104.a {
}
#u105.a {
}
#u105_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:874px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u106.a {
}
#u110.a {
}
#u110_img.a {
}
#u111.a {
}
#u112.a {
}
#u112_img.a {
}
#u113.a {
}
#u114.a {
}
#u114_img.a {
}
#u115.a {
}
#u116.a {
}
#u116_img.a {
}
#u117.a {
}
#u118.a {
}
#u118_img.a {
}
#u119.a {
}
#u120.a {
}
#u120_img.a {
}
#u121.a {
}
#u122.a {
}
#u122_img.a {
}
#u123.a {
}
#u124.a {
}
#u124_img.a {
}
#u125.a {
}
#u126.a {
}
#u126_img.a {
}
#u127.a {
}
#u128.a {
}
#u128_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:874px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u129.a {
}
#u130.a {
}
#u130_img.a {
}
#u131.a {
}
body.b {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:913px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u79.b {
}
#u79_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:84px;
  background:inherit;
  background-color:rgba(0, 150, 136, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 150, 136, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u80.b {
}
#u81.b {
}
#u81_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:84px;
  background:inherit;
  background-color:rgba(95, 184, 120, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(95, 184, 120, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u82.b {
}
#u83.b {
}
#u83_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:84px;
  background:inherit;
  background-color:rgba(57, 61, 73, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(57, 61, 73, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u84.b {
}
#u85.b {
}
#u85_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:84px;
  background:inherit;
  background-color:rgba(30, 159, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(30, 159, 255, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u86.b {
}
#u87.b {
}
#u87_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:74px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(240, 238, 240, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u88.b {
}
#u89.b {
}
#u89_img.b {
}
#u90.b {
}
#u91.b {
}
#u91_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:874px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u92.b {
}
#u93.b {
}
#u93_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:84px;
  background:inherit;
  background-color:rgba(247, 184, 36, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(247, 184, 36, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u94.b {
}
#u95.b {
}
#u95_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 87, 34, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 87, 34, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u96.b {
}
#u97.b {
}
#u97_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:84px;
  background:inherit;
  background-color:rgba(1, 170, 237, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(1, 170, 237, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u98.b {
}
#u99.b {
}
#u99_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:84px;
  background:inherit;
  background-color:rgba(47, 64, 86, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(47, 64, 86, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u100.b {
}
#u101.b {
}
#u101_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:74px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(240, 238, 240, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u102.b {
}
#u103.b {
}
#u103_img.b {
}
#u104.b {
}
#u105.b {
}
#u105_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:874px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u106.b {
}
#u110.b {
}
#u110_img.b {
}
#u111.b {
}
#u112.b {
}
#u112_img.b {
}
#u113.b {
}
#u114.b {
}
#u114_img.b {
}
#u115.b {
}
#u116.b {
}
#u116_img.b {
}
#u117.b {
}
#u118.b {
}
#u118_img.b {
}
#u119.b {
}
#u120.b {
}
#u120_img.b {
}
#u121.b {
}
#u122.b {
}
#u122_img.b {
}
#u123.b {
}
#u124.b {
}
#u124_img.b {
}
#u125.b {
}
#u126.b {
}
#u126_img.b {
}
#u127.b {
}
#u128.b {
}
#u128_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:874px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u129.b {
}
#u130.b {
}
#u130_img.b {
}
#u131.b {
}
