body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:768px;
  overflow:hidden;
}
#u0_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:768px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:768px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:768px;
}
#u2 {
  position:absolute;
  left:2px;
  top:376px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u0_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:768px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:768px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:768px;
}
#u4 {
  position:absolute;
  left:2px;
  top:376px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u0_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:768px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:768px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:768px;
}
#u6 {
  position:absolute;
  left:2px;
  top:376px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:80px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:80px;
}
#u8 {
  position:absolute;
  left:2px;
  top:32px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:449px;
  top:663px;
  width:206px;
  height:29px;
  overflow:hidden;
}
#u9_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:29px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u9_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u10 {
  position:absolute;
  left:92px;
  top:7px;
  width:15px;
  height:15px;
}
#u11 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u12 {
  position:absolute;
  left:145px;
  top:7px;
  width:15px;
  height:15px;
}
#u13 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u14 {
  position:absolute;
  left:37px;
  top:7px;
  width:15px;
  height:15px;
}
#u15 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:29px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u9_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u16 {
  position:absolute;
  left:37px;
  top:7px;
  width:15px;
  height:15px;
}
#u17 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u18 {
  position:absolute;
  left:92px;
  top:7px;
  width:15px;
  height:15px;
}
#u19 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u20 {
  position:absolute;
  left:145px;
  top:7px;
  width:15px;
  height:15px;
}
#u21 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:29px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u9_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u22 {
  position:absolute;
  left:140px;
  top:7px;
  width:15px;
  height:15px;
}
#u23 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u24 {
  position:absolute;
  left:92px;
  top:7px;
  width:15px;
  height:15px;
}
#u25 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u26 {
  position:absolute;
  left:37px;
  top:7px;
  width:15px;
  height:15px;
}
#u27 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u29_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:80px;
  background:inherit;
  background-color:rgba(19, 177, 205, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u29 {
  position:absolute;
  left:150px;
  top:0px;
  width:161px;
  height:80px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u30 {
  position:absolute;
  left:0px;
  top:30px;
  width:161px;
  word-wrap:break-word;
}
#u31_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ComicSansMS', 'Comic Sans MS';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#C6C6C6;
  text-align:center;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:80px;
  font-family:'ComicSansMS', 'Comic Sans MS';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#C6C6C6;
  text-align:center;
}
#u32 {
  position:absolute;
  left:0px;
  top:26px;
  width:150px;
  word-wrap:break-word;
}
#u33_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C6C6C6;
  text-align:center;
}
#u33 {
  position:absolute;
  left:311px;
  top:0px;
  width:161px;
  height:80px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C6C6C6;
  text-align:center;
}
#u33_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C6C6C6;
  text-align:center;
}
#u33.mouseOver {
}
#u34 {
  position:absolute;
  left:0px;
  top:30px;
  width:161px;
  word-wrap:break-word;
}
#u35_div {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C6C6C6;
  text-align:center;
}
#u35 {
  position:absolute;
  left:471px;
  top:0px;
  width:162px;
  height:80px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C6C6C6;
  text-align:center;
}
#u35_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C6C6C6;
  text-align:center;
}
#u35.mouseOver {
}
#u36 {
  position:absolute;
  left:0px;
  top:30px;
  width:162px;
  word-wrap:break-word;
}
#u37_div {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C6C6C6;
  text-align:center;
}
#u37 {
  position:absolute;
  left:632px;
  top:0px;
  width:162px;
  height:80px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C6C6C6;
  text-align:center;
}
#u37_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C6C6C6;
  text-align:center;
}
#u37.mouseOver {
}
#u38 {
  position:absolute;
  left:0px;
  top:30px;
  width:162px;
  word-wrap:break-word;
}
#u39_div {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C6C6C6;
  text-align:center;
}
#u39 {
  position:absolute;
  left:793px;
  top:0px;
  width:162px;
  height:80px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C6C6C6;
  text-align:center;
}
#u39_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C6C6C6;
  text-align:center;
}
#u39.mouseOver {
}
#u40 {
  position:absolute;
  left:0px;
  top:30px;
  width:162px;
  word-wrap:break-word;
}
#u41_div {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C6C6C6;
  text-align:center;
}
#u41 {
  position:absolute;
  left:956px;
  top:0px;
  width:162px;
  height:80px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C6C6C6;
  text-align:center;
}
#u41_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C6C6C6;
  text-align:center;
}
#u41.mouseOver {
}
#u42 {
  position:absolute;
  left:0px;
  top:30px;
  width:162px;
  word-wrap:break-word;
}
#u43_div {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C6C6C6;
  text-align:center;
}
#u43 {
  position:absolute;
  left:1118px;
  top:0px;
  width:162px;
  height:80px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C6C6C6;
  text-align:center;
}
#u43_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C6C6C6;
  text-align:center;
}
#u43.mouseOver {
}
#u44 {
  position:absolute;
  left:0px;
  top:30px;
  width:162px;
  word-wrap:break-word;
}
#u45_div {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#C6C6C6;
}
#u45 {
  position:absolute;
  left:429px;
  top:718px;
  width:285px;
  height:20px;
  color:#C6C6C6;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  white-space:nowrap;
}
#u47_div {
  position:absolute;
  left:0px;
  top:0px;
  width:453px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AppleGothic';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  color:#FFFFFF;
}
#u47 {
  position:absolute;
  left:40px;
  top:303px;
  width:453px;
  height:32px;
  font-family:'AppleGothic';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  color:#FFFFFF;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:453px;
  word-wrap:break-word;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:467px;
  height:84px;
}
#u49 {
  position:absolute;
  left:40px;
  top:213px;
  width:457px;
  height:74px;
  font-family:'AppleGothic';
  font-weight:400;
  font-style:normal;
  font-size:26px;
  color:#FFFFFF;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  word-wrap:break-word;
}
#u51_div {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AppleGothic';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u51 {
  position:absolute;
  left:407px;
  top:698px;
  width:325px;
  height:20px;
  font-family:'AppleGothic';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  white-space:nowrap;
}
#u53_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AppleGothic';
  font-weight:400;
  font-style:normal;
  font-size:26px;
  color:#FFFFFF;
}
#u53 {
  position:absolute;
  left:40px;
  top:380px;
  width:190px;
  height:72px;
  font-family:'AppleGothic';
  font-weight:400;
  font-style:normal;
  font-size:26px;
  color:#FFFFFF;
}
#u54 {
  position:absolute;
  left:2px;
  top:18px;
  width:186px;
  word-wrap:break-word;
}
#u55_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AppleGothic';
  font-weight:400;
  font-style:normal;
  font-size:26px;
  color:#FFFFFF;
}
#u55 {
  position:absolute;
  left:280px;
  top:380px;
  width:190px;
  height:72px;
  font-family:'AppleGothic';
  font-weight:400;
  font-style:normal;
  font-size:26px;
  color:#FFFFFF;
}
#u56 {
  position:absolute;
  left:2px;
  top:18px;
  width:186px;
  word-wrap:break-word;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:441px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.a {
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  height:736px;
}
#u1.a {
  width:441px;
  height:736px;
}
#u1_img.a {
  width:441px;
  height:736px;
}
#u2.a {
  top:360px;
  width:437px;
}
#u3.a {
  width:441px;
  height:736px;
}
#u3_img.a {
  width:441px;
  height:736px;
}
#u4.a {
  top:360px;
  width:437px;
}
#u5.a {
  width:441px;
  height:736px;
}
#u5_img.a {
  width:441px;
  height:736px;
}
#u6.a {
  top:360px;
  width:437px;
}
#u0_state0.a {
  width:441px;
  height:736px;
  background-color:rgba(19, 177, 205, 0);
  background-image:none;
}
#u0_state1.a {
  width:441px;
  height:736px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u0_state2.a {
  width:441px;
  height:736px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u7.a {
  width:441px;
}
#u7_img.a {
  width:441px;
}
#u8.a {
  width:437px;
}
#u9.a {
  position:absolute;
  left:118px;
  top:631px;
  width:206px;
  height:29px;
}
#u10.a {
}
#u10_img.a {
}
#u11.a {
}
#u12.a {
}
#u12_img.a {
}
#u13.a {
}
#u14.a {
}
#u14_img.a {
}
#u15.a {
}
#u16.a {
}
#u16_img.a {
}
#u17.a {
}
#u18.a {
}
#u18_img.a {
}
#u19.a {
}
#u20.a {
}
#u20_img.a {
}
#u21.a {
}
#u22.a {
}
#u22_img.a {
}
#u23.a {
}
#u24.a {
}
#u24_img.a {
}
#u25.a {
}
#u26.a {
}
#u26_img.a {
}
#u27.a {
}
#u9_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u9_state1.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u9_state2.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u29.a {
  left:50px;
  top:-4px;
  width:50px;
  height:84px;
}
#u29_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:84px;
  background:inherit;
  background-color:rgba(19, 177, 205, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u30.a {
  top:35px;
  width:50px;
}
#u31.a {
  width:50px;
}
#u31_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ComicSansMS', 'Comic Sans MS';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#C6C6C6;
  text-align:center;
}
#u32.a {
  top:27px;
  width:50px;
}
#u33.a {
  left:100px;
  width:56px;
}
#u33_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C6C6C6;
  text-align:center;
}
#u33_div.mouseOver.a {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C6C6C6;
  text-align:center;
}
#u33.a.mouseOver {
}
#u34.a {
  top:34px;
  width:56px;
}
#u35.a {
  left:156px;
  width:57px;
}
#u35_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C6C6C6;
  text-align:center;
}
#u35_div.mouseOver.a {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C6C6C6;
  text-align:center;
}
#u35.a.mouseOver {
}
#u36.a {
  top:34px;
  width:57px;
}
#u37.a {
  left:213px;
  width:57px;
}
#u37_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C6C6C6;
  text-align:center;
}
#u37_div.mouseOver.a {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C6C6C6;
  text-align:center;
}
#u37.a.mouseOver {
}
#u38.a {
  top:34px;
  width:57px;
}
#u39.a {
  left:271px;
  width:57px;
}
#u39_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C6C6C6;
  text-align:center;
}
#u39_div.mouseOver.a {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C6C6C6;
  text-align:center;
}
#u39.a.mouseOver {
}
#u40.a {
  top:34px;
  width:57px;
}
#u41.a {
  left:328px;
  width:57px;
}
#u41_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C6C6C6;
  text-align:center;
}
#u41_div.mouseOver.a {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C6C6C6;
  text-align:center;
}
#u41.a.mouseOver {
}
#u42.a {
  top:34px;
  width:57px;
}
#u43.a {
  left:384px;
  width:57px;
}
#u43_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C6C6C6;
  text-align:center;
}
#u43_div.mouseOver.a {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C6C6C6;
  text-align:center;
}
#u43.a.mouseOver {
}
#u44.a {
  top:34px;
  width:57px;
}
#u45.a {
  left:84px;
  top:690px;
}
#u45_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#C6C6C6;
}
#u46.a {
}
#u47.a {
  left:2px;
  top:304px;
  width:267px;
  height:20px;
}
#u47_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AppleGothic';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  color:#FFFFFF;
}
#u48.a {
  width:267px;
}
#u49.a {
  left:6px;
  top:250px;
  width:258px;
  height:44px;
}
#u49_img.a {
  width:268px;
  height:54px;
}
#u50.a {
  width:258px;
}
#u51.a {
  left:62px;
  top:670px;
}
#u51_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AppleGothic';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u52.a {
}
#u53.a {
  width:150px;
  height:50px;
}
#u53_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AppleGothic';
  font-weight:400;
  font-style:normal;
  font-size:26px;
  color:#FFFFFF;
}
#u54.a {
  top:10px;
  width:146px;
}
#u55.a {
  left:40px;
  top:450px;
  width:150px;
  height:50px;
}
#u55_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AppleGothic';
  font-weight:400;
  font-style:normal;
  font-size:26px;
  color:#FFFFFF;
}
#u56.a {
  top:10px;
  width:146px;
}
body.b {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.b {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1.b {
  width:375px;
  height:667px;
}
#u1_img.b {
  width:375px;
  height:667px;
}
#u2.b {
  top:326px;
  width:371px;
}
#u3.b {
  width:375px;
  height:667px;
}
#u3_img.b {
  width:375px;
  height:667px;
}
#u4.b {
  top:326px;
  width:371px;
}
#u5.b {
  width:375px;
  height:667px;
}
#u5_img.b {
  width:375px;
  height:667px;
}
#u6.b {
  top:326px;
  width:371px;
}
#u0_state0.b {
  width:375px;
  height:667px;
  background-color:rgba(19, 177, 205, 0);
  background-image:none;
}
#u0_state1.b {
  width:375px;
  height:667px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u0_state2.b {
  width:375px;
  height:667px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u7.b {
  width:375px;
}
#u7_img.b {
  width:375px;
}
#u8.b {
  width:371px;
}
#u9.b {
  position:absolute;
  left:78px;
  top:581px;
  width:206px;
  height:29px;
}
#u10.b {
}
#u10_img.b {
}
#u11.b {
}
#u12.b {
}
#u12_img.b {
}
#u13.b {
}
#u14.b {
}
#u14_img.b {
}
#u15.b {
}
#u16.b {
}
#u16_img.b {
}
#u17.b {
}
#u18.b {
}
#u18_img.b {
}
#u19.b {
}
#u20.b {
}
#u20_img.b {
}
#u21.b {
}
#u22.b {
}
#u22_img.b {
}
#u23.b {
}
#u24.b {
}
#u24_img.b {
}
#u25.b {
}
#u26.b {
}
#u26_img.b {
}
#u27.b {
}
#u9_state0.b {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u9_state1.b {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u9_state2.b {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u29.b {
  left:50px;
  top:-4px;
  width:50px;
  height:84px;
}
#u29_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:84px;
  background:inherit;
  background-color:rgba(19, 177, 205, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u30.b {
  top:36px;
  width:50px;
}
#u31.b {
  width:50px;
}
#u31_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ComicSansMS', 'Comic Sans MS';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#C6C6C6;
  text-align:center;
}
#u32.b {
  top:34px;
  width:50px;
}
#u33.b {
  left:100px;
  width:45px;
}
#u33_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C6C6C6;
  text-align:center;
}
#u33_div.mouseOver.b {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C6C6C6;
  text-align:center;
}
#u33.b.mouseOver {
}
#u34.b {
  top:34px;
  width:45px;
}
#u35.b {
  left:145px;
  width:46px;
}
#u35_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C6C6C6;
  text-align:center;
}
#u35_div.mouseOver.b {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C6C6C6;
  text-align:center;
}
#u35.b.mouseOver {
}
#u36.b {
  top:34px;
  width:46px;
}
#u37.b {
  left:191px;
  width:46px;
}
#u37_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C6C6C6;
  text-align:center;
}
#u37_div.mouseOver.b {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C6C6C6;
  text-align:center;
}
#u37.b.mouseOver {
}
#u38.b {
  top:34px;
  width:46px;
}
#u39.b {
  left:238px;
  width:46px;
}
#u39_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C6C6C6;
  text-align:center;
}
#u39_div.mouseOver.b {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C6C6C6;
  text-align:center;
}
#u39.b.mouseOver {
}
#u40.b {
  top:34px;
  width:46px;
}
#u41.b {
  left:284px;
  width:46px;
}
#u41_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C6C6C6;
  text-align:center;
}
#u41_div.mouseOver.b {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C6C6C6;
  text-align:center;
}
#u41.b.mouseOver {
}
#u42.b {
  top:34px;
  width:46px;
}
#u43.b {
  left:329px;
  width:46px;
}
#u43_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C6C6C6;
  text-align:center;
}
#u43_div.mouseOver.b {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C6C6C6;
  text-align:center;
}
#u43.b.mouseOver {
}
#u44.b {
  top:34px;
  width:46px;
}
#u45.b {
  left:55px;
  top:640px;
}
#u45_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#C6C6C6;
}
#u46.b {
}
#u47.b {
  left:2px;
  top:304px;
  width:267px;
  height:20px;
}
#u47_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AppleGothic';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  color:#FFFFFF;
}
#u48.b {
  width:267px;
}
#u49.b {
  left:6px;
  top:250px;
  width:258px;
  height:44px;
}
#u49_img.b {
  width:268px;
  height:54px;
}
#u50.b {
  width:258px;
}
#u51.b {
  left:33px;
  top:620px;
}
#u51_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AppleGothic';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u52.b {
}
#u53.b {
  width:150px;
  height:50px;
}
#u53_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AppleGothic';
  font-weight:400;
  font-style:normal;
  font-size:26px;
  color:#FFFFFF;
}
#u54.b {
  top:10px;
  width:146px;
}
#u55.b {
  left:40px;
  top:450px;
  width:150px;
  height:50px;
}
#u55_div.b {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AppleGothic';
  font-weight:400;
  font-style:normal;
  font-size:26px;
  color:#FFFFFF;
}
#u56.b {
  top:10px;
  width:146px;
}
